<p id="notice"><%= notice %></p>

<h2>Instructors</h2>
<%= link_to 'New Instructor', new_instructor_path %>



<table id="myTable">
  <input type="text" id="myInput" onkeyup="myFunctioninstructor()" placeholder="Search by email" title="Type in email">
  
  <thead>
    <tr>
      <th id= "myTablehead">First name</th>
      <th id= "myTablehead">Last name</th>
      <th id= "myTablehead">Bio</th>
      <th id= "myTablehead">Email</th>
      <th id= "myTablehead">Phone</th>
      <th id= "myTablehead">Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructors.each do |instructor| %>
      <tr>
        <td><%= instructor.first_name %></td>
        <td><%= instructor.last_name %></td>
        <td><%= instructor.bio %></td>
        <td><%= instructor.email %></td>
        <td><%= instructor.phone %></td>
        <td><%= instructor.active %></td>
        <td><%= link_to 'Show', instructor %></td>
        <td><%= link_to 'Edit', edit_instructor_path(instructor) %></td>
        <td><%= link_to 'Destroy', instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


