<div class='main'>
    
<h1 class="font1">Welcome To Chess Club </h1>
<p class="font2">Here we have different levels of chess courses</p>
<p class="font2">starting from Easy to Intermedite into Hard</p>
<p class="font2">We have classes for all ages between 5-65</p>

<button class="button button1"><%= link_to 'Camps', camps_path %></button><br>
<button class="button button1"><%= link_to 'Instrcutors', instructors_path %></button><br>
<button class="button button1"><%= link_to 'Curriculums', curriculums_path %></button><br>
<button class="button button1"><%= link_to 'Locations', locations_path %></button><br>
<button class="button button1"><%= link_to 'CampInstructor', camp_instructors_path %></button><br>
</div>