<!DOCTYPE html>
<html>
  <head>
    <title>Project2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
 



  <body>
    
 <div >
      <ul class="navul">
        <!-- OPTIONS FOR EVERYONE -->
        <li class ="nav"><a class="activeicon" href="https://aelsakka-aelsakka.c9users.io">&#9814</a></li>
        <li class ="nav"><a><%= link_to 'About Us', aboutus_new_path %></a></li>
        <li class ="nav"><a><%= link_to 'Our Privacy', privacy_new_path %></a></li>
        <li class ="nav"><a><%= link_to 'Contact us', contactus_new_path %></a></li>
    </ul>
  </div>
    
    
  <div id="footer">
    <p>Aya El-sakka</p>
  </div>
    <%= yield %>
  </body>
</html>
